# Environments
.venv/
env/

# Datasets
data/

# Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Checkpoints and Training States
checkpoints/

# Model Weights (Ignore all EXCEPT the final generator for testing)
*.pth
!generator_final.pth